openapi: "3.0.0"
info:
  description: "This is the entropy facebook api"
  version: "1.0.0"
  title: "Facebook API"
  contact:
    email: "karina@entropy.tech"
servers:
      - url: "https://pending.entropy.tech/v1"
        description: "Production server for api"
tags:
- name: credentials
  description: Entropy Facebook credentials resource
- name: accounts
  description: Entropy Facebook accounts resource
- name: draft strategies
  description: Entropy Facebook draft strategies resource
- name: draft ads
  description: Entropy Facebook Draft Strategy Ads
- name: draft locations
  description: Entropy Facebook location resource
- name: draft creatives
  description: Entropy Facebook draft creatives resource
- name: draft campaigns
  description: Entropy Facebook draft campaigns
- name: strategy
  description: Entropy Facebook strategies resource
- name: strategy campaigns
  description: Entropy Facebook strategy campaigns
paths:
  /organizations/{organizationId}/credentials:
    post:
      tags:
      - credentials
      summary: Add credential to organization
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The Organization Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                state:
                  type: string
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    minimum: 1
                    example: 1
                    description: The credential ID.
                  name:
                    type: string
                    description: The credential name.
                    example: My facebook credential
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Please provide a valid code.
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error
    get:
      tags:
      - credentials
      summary: Get credentials by organization
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The Organization Id
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      minimum: 1
                      example: 1
                      description: The credential ID.
                    name:
                      type: string
                      description: The credential name.
                      example: My facebook credential
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error
  /organizations/{organizationId}/credentials/{credentialId}:
    get:
      tags:
      - credentials
      summary: Get credential by credential id
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The Organization Id
        - in: path
          name: credentialId
          required: true
          schema:
            type: integer
            minimum: 1
            example: 1
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    minimum: 1
                    example: 1
                    description: The credential ID.
                  name:
                    type: string
                    description: The credential name.
                    example: My facebook credential
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Requested resource doesn't exist.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error
    delete:
      tags:
      - credentials
      summary: Delete credential by id
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The Organization Id
        - in: path
          name: credentialId
          required: true
          schema:
            type: integer
            minimum: 1
            example: 1
      responses:
        204:
          description: No Content
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Requested resource doesn't exist.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error
    put:
      tags:
      - credentials
      summary: Update organization credential
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The Organization Id
        - in: path
          name: credentialId
          required: true
          schema:
            type: integer
            minimum: 1
            example: 1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                state:
                  type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    minimum: 1
                    example: 1
                    description: The credential ID.
                  name:
                    type: string
                    description: The credential name.
                    example: My facebook credential
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Requested resource doesn't exist.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error
  /organizations/{organizationId}/credentials/{credentialId}/adaccounts:
    get:
      tags:
        - credentials
      summary: Retrieve facebook adaccounts for credential with their linked pages and instagram accounts
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The Organization Id
        - in: path
          name: credentialId
          required: true
          schema:
            type: integer
            minimum: 1
            example: 1
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: act_123456789101112
                      description: The adaccount id.
                    name:
                      type: string
                      description: The adaccounts name.
                      example: Perros y Gatos Co.
                    pages:
                      type: array
                      items: 
                        type: object
                        properties:
                          id:                
                            type: string
                            example: "381490061931745"
                          name:
                            type: string
                            example: My Fake Shop
                          url:
                            type: string
                            description: Facebook page profile picture
                            example: https://scontent.fmex3-1.fna.fbcdn.net/v/t1.0-1/cp0/p50x50/69990981_2541917302555666_6471452641946763264_o.jpg
                    instagram_accounts:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            example: "147797639624699"
                            description: Instagram account id
                          profile_picture:
                            type: string
                            description: Instagram profile picture url
                            example: https://scontent-qro1-1.xx.fbcdn.net/v/t51.2885-15/10358304_683009211734391_805233549_a.jpg?_nc_cat=111&_nc_sid=86c713&_nc_ohc=-BEh1CRhIDAAX_GlXcF&_nc_ht=scontent-qro1-1.xx&oh=51977412f1779267f8e6aa8b26d21bbd&oe=5EB3C9DE
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Requested resource doesn't exist.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error
  /organizations/{organizationId}/accounts:
    post:
      tags:
      - accounts
      summary: Create entropy facebook account
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The Organization Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                extenal_id:
                  type: string
                  example: act_123456789101112
                credential_id:
                  type: integer
                  example: 1
                instagram_id:
                  type: string
                  example: "1023317097692584"
                page_id:
                  type: string
                  example: "381490061931745"
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    minimum: 1
                    example: 1
                    description: The account ID.
                  name:
                    type: string
                    description: The account name.
                    example: My facebook account
                  url: 
                    type: string
                    example: https://scontent.fmex3-1.fna.fbcdn.net/v/t1.0-1/cp0/p50x50/69990981_2541917302555666_6471452641946763264_o.jpg
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Please provide a valid code.
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error    
    get:                
      tags:
      - accounts
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The organization Id
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      minimum: 1
                      example: 1
                      description: The account ID.
                    name:
                      type: string
                      description: The account name.
                      example: My facebook account
                    url: 
                      type: string
                      example: https://scontent.fmex3-1.fna.fbcdn.net/v/t1.0-1/cp0/p50x50/69990981_2541917302555666_6471452641946763264_o.jpg
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Requested resource doesn't exist.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error
  /organizations/{organizationId}/accounts/{accountId}:
    get:
      tags:
      - accounts
      summary: GetFacebook account
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The Organization Id
        - in: path
          name: accountId
          description: The Account Id
          required: true
          schema:
            type: integer
            example: 1
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    minimum: 1
                    example: 1
                    description: The account ID.
                  external_id:
                    type: string
                    example: act_123456789101112
                    description: The adaccount id
                  name:
                    type: string
                    description: The account name.
                    example: My facebook account
                  instagram_id: 
                    type: string
                    description: The instagram id
                    example: "1023317097692584"
                  page:
                    type: object
                    properties:
                      id: 
                        description: The facebook page id
                        type: string
                        example: "1023317097692584"
                      url: 
                        type: string
                        description: The page profile picture url
                        example: https://scontent.fmex3-1.fna.fbcdn.net/v/t1.0-1/cp0/p50x50/69990981_2541917302555666_6471452641946763264_o.jpg
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Please provide a valid code.
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error    
    delete:
      tags: 
      - accounts
      summary: Delete Facebook account
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The Organization Id
        - in: path
          name: accountId
          description: The Account Id
          required: true
          schema:
            type: integer
            example: 1
      responses:
        204:
          description: No Content
        400:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Please provide a valid code.
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error    
  /organizations/{organizationId}/draft-strategies/{draftStrategyId}/campaigns:
    post:
      tags:
      - draft campaigns
      summary: "Create Facebook campaign set in strategy"
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The organization Id
        - in: path
          name: draftStrategyId
          required: true
          schema:
            type: string
            example: 5e602dd4cf1ff689ff36d2b8
          description: The Draft Strategy Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                budget: 
                  type: integer
                  example: 600
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: 5e602dd4cf1ff689ff36d2222
                    name:
                      type: string
                      example: Campañas de remarketing
                    budget:
                      type: integer
                      example: 10000
                      minimum: 10000
                    objective:
                      type: string
                      example: CONVERSIONS
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Requested resource doesn't exist.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error
    get:
      tags:
      - draft campaigns
      summary: "Retrieve Facebook campaign set strategy"
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The organization Id
        - in: path
          name: draftStrategyId
          required: true
          schema:
            type: string
            example: 5e602dd4cf1ff689ff36d2b8
          description: The Draft Strategy Id
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: 
                      type: string
                      example: 5e602dd4cf1ff689ff36d2222
                    name:
                      type: string
                      example: Campañas de remarketing
                    budget:
                      type: integer
                      example: 10000
                      minimum: 10000
                    objective:
                      type: string
                      example: CONVERSIONS
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Requested resource doesn't exist.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error
    put:
      tags:
      - draft campaigns
      summary: "Update Facebook campaign set strategy"
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The Organization Id
        - in: path
          name: draftStrategyId
          required: true
          schema:
            type: string
            example: 5e602dd4cf1ff689ff36d2b8
          description: The Draft Stratgy Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                    example: 5e602dd4cf1ff689ff36d2222
                  name:
                    type: string
                    example: Campañas de remarketing
                  budget:
                    type: integer
                    example: 20000
                    minimum: 10000
                  objective:
                    type: string
                    example: CONVERSIONS
      responses:
        200:
          description: Accepted
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id: 
                      type: string
                      example: 5e602dd4cf1ff689ff36d2222
                    name:
                      type: string
                      example: Campañas de remarketing
                    country_code:
                      type: string
                    budget:
                      type: integer
                      example: 20000
                    objective:
                      type: string
                      example: CONVERSIONS
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Requested resource doesn't exist.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error
  /organizations/{organizationId}/draft-strategies:
    post:
      tags:
      - draft strategies
      summary: "Create new Facebook draft strategy"
      description: "This creates a new Facebook strategy"
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The Organization Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                account_id:
                  type: integer
                  example: 1234567
                geo_locations:
                    type: object
                    properties:
                      countries:
                        type: array
                        items:
                          type: string
                          example: MX
                      regions:
                        type: array
                        items:
                          type: object
                          properties:
                            key:
                              type: string
                              example: "3843"
                      cities:
                        type: array
                        items:
                          type: object
                          properties:
                            key:
                              type: string
                              example: "2420605"
                            radius:
                              type: integer
                              example: 10
                              minimum: 10
                              maximum: 80
                            distance_unit:
                              type: string
                              example: mile
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 5e602dd4cf1ff689ff36d2b8
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Requested resource doesn't exist.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error
    get:
      tags: 
      - draft strategies
      summary: Retrieve Facebook campaign draft strategy for given organziation
      parameters:
        - in: path
          name: organizationId
          required: true
          description: The Organization Id        
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_id:
                    type: string
                    example: 1
                  name:
                    type: string
                    example: My draft strategy
                  budget:
                    type: integer
                    example: 0
                  created_at:
                    type: string
                    example: 2020-03-04 16:38:12.317086461 -0600 CST m=+5532.901298845
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Requested resource doesn't exist.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error
  /organizations/{organizationId}/draft-strategies/{draftStrategyId}:
    get:
      tags:
      - draft strategies
      summary: "Retrieve Facebook campaign draft strategy"
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The Organization Id
        - in: path
          name: draftStrategyId
          required: true
          schema:
            type: string
            example: 5e602dd4cf1ff689ff36d2b8
          description: The Draft Stratgy Id
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  account_id:
                    type: string
                    example: 1
                  name:
                    type: string
                    example: My draft strategy
                  budget:
                    type: integer
                    example: 0
                  created_at:
                    type: string
                    example: 2020-03-04 16:38:12.317086461 -0600 CST m=+5532.901298845
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Requested resource doesn't exist.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error
    delete:
      tags:
      - draft strategies
      summary: "Delete Facebook campaign draft strategy"
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The Organization Id
        - in: path
          name: draftStrategyId
          required: true
          schema:
            type: string
            example: 5e602dd4cf1ff689ff36d2b8
          description: The Draft Stratgy Id
      responses:
        204:
          description: No content
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: .
                    example: "strategy deleted"
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "You have to specify the strategy Id"
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Requested resource doesn't exist.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error
  /organizations/{organizationId}/draft-strategies/{draftStrategyId}/geolocations:
    get:
      tags:
      - draft locations
      summary: "Retrieve Facebook campaign strategy locations"
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The Organization Id
        - in: path
          name: draftStrategyId
          required: true
          schema:
            type: string
            example: 5e602dd4cf1ff689ff36d2b8
          description: The Draft Stratgy Id
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  countries:
                    type: array
                    items:
                      type: string
                      example: MX
                  regions:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          example: "3843"
                  cities:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          example: "2420605"
                        radius:
                          type: integer
                          example: 10
                          minimum: 10
                          maximum: 80
                        distance_unit:
                          type: string
                          example: mile
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Requested resource doesn't exist.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error
    put:
      tags:
      - "draft locations"
      summary: "Update Facebook campaign draft strategy locations"
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
            description: The Organization Id
        - in: path
          name: draftStrategyId
          required: true
          schema:
            type: string
            example: 5e602dd4cf1ff689ff36d2b8
          description: The Draft Stratgy Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                countries:
                  type: array
                  items:
                    type: string
                    example: MX
                regions:
                  type: array
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                        example: "3843"
                cities:
                  type: array
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                        example: "2420605"
                      radius:
                        type: integer
                        example: 10
                        minimum: 10
                        maximum: 80
                      distance_unit:
                        type: string
                        example: mile
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  countries:
                    type: array
                    items:
                      type: string
                      example: MX
                  regions:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          example: "3843"
                  cities:
                    type: array
                    items:
                      type: object
                      properties:
                        key:
                          type: string
                          example: "2420605"
                        radius:
                          type: integer
                          example: 10
                          minimum: 10
                          maximum: 80
                        distance_unit:
                          type: string
                          example: mile
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Requested resource doesn't exist.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error
  /organizations/{organizationId}/draft-strategies/{draftStrategyId}/creatives:
    get:
      tags:
      - "draft creatives"
      summary: "Retrieve Facebook campaign strategy creatives"
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The Organization Id
        - in: path
          name: draftStrategyId
          required: true
          schema:
            type: string
            example: 5e602dd4cf1ff689ff36d2b8
          description: The Draft Stratgy Id
        - in: query
          name: id
          required: false
          schema:
            type: string
            example: 5e7bab8b5ecb9ea374bf8a65
          description: The Draft Creative Id
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: 5e7bab8b5ecb9ea374bf8a65
                      description: Draft Creative id
                    name:
                      type: string
                      example: "My Creative"
                    creative_uri:
                      type: string
                      example: "images.google.com/epy/creatives/123456ffdf"
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Requested resource doesn't exist.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error
    post:
      tags:
      - "draft creatives"
      summary: "Create new Facebook campaign creative"
      description: "This creates a new Facebook campaign creative"
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The Organization Id
        - in: path
          name: draftStrategyId
          required: true
          schema:
            type: string
            example: 5e602dd4cf1ff689ff36d2b8
          description: The Draft Strategy Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  example: "My Creative"
                creative_uri:
                  type: string
                  example: "images.google.com/epy/creatives/123456ffdf"
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 5e7bab8b5ecb9ea374bf8a65
                    description: The draft creative Id.
                  name:
                    type: string
                    example: "My Creative"
                  creative_uri:
                    type: string
                    example: "images.google.com/epy/creatives/123456ffdf"
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Requested resource doesn't exist.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error
  /organizations/{organizationId}/draft-strategies/{draftStrategyId}/draft-creatives/{draftCreativeId}:
    get:
      tags:
      - "draft creatives"
      summary: "Retrieve Facebook campaign strategy creative"
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The Organization Id
        - in: path
          name: draftStrategyId
          required: true
          schema:
            type: string
            example: 5e602dd4cf1ff689ff36d2b8
          description: The Draft Strategy Id
        - in: path
          name: draftCreativeId
          required: true
          schema:
            type: string
            example: 5e602dd4cf1ff689ff36d2b8
          description: The Draft Creative Id
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "123456"
                    description: The draft strategy ID.
                  name:
                    type: string
                    example: "My Creative"
                  creative_uri:
                    type: string
                    example: "images.google.com/epy/creatives/123456ffdf"
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Requested resource doesn't exist.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error
    delete:
      tags:
      - "draft creatives"
      summary: "Delete Facebook draft creative"
      description: ""
      operationId: ""
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The Organization Id
        - in: path
          name: draftStrategyId
          required: true
          schema:
            type: string
            example: 5e602dd4cf1ff689ff36d2b8
          description: The Draft Strategy Id
        - in: path
          name: draftCreativeId
          required: true
          schema:
            type: string
            example: 5e602dd4cf1ff689ff36d2b8
          description: The Draft Creative Id
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: .
                    example: "creative deleted"
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Requested resource doesn't exist.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error
  /organizations/{organizationId}/draft-strategies/{draftStrategyId}/ads:
    post:
      tags:
      - draft ads
      summary: Delete draft ads in draft strategy
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The Organization Id
        - in: path
          name: draftStrategyId
          required: true
          schema:
            type: string
            example: 5e602dd4cf1ff689ff36d2b8
          description: The Draft Strategy Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
                    description: The draft ad name.
                    example: "My draft ad"
                  title:
                    type: string
                    description:  The draft ad title.
                    example: "My draft title"
                  body:
                    type: string
                    description: The draft ad body.
                    example: Buy this product
                  visible_uri::
                    type: string
                    description: The draft ad visible link.
                    example: "https://entropy.tech"
      responses:
        200:
          description: Draft Ad Successfully Updated
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: "5e602ac3cf1ff689ff36d2b5"
                      description: The draft ad Id.
                    name:
                      type: string
                      description: The draft ad name.
                      example: "My draft ad"
                    title:
                      type: string
                      description:  The draft ad title.
                      example: "My draft title"
                    body:
                      type: string
                      description: The draft ad body.
                      example: "Buy this ad product"
                    visible_uri:
                      type: string
                      description: The draft ad visible link.
                      example: "https://entropy.tech"
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Requested resource doesn't exist.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error
    get:
      tags:
      - draft ads
      summary: Delete draft ads in draft strategy
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The Organization Id
        - in: path
          name: draftStrategyId
          required: true
          schema:
            type: string
            example: 5e602dd4cf1ff689ff36d2b8
          description: The Draft Strategy Id
      responses:
        200:
          description: Draft Ad Successfully found
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "5e602ac3cf1ff689ff36d2b5"
                    description: The draft ad Id.
                  name:
                    type: string
                    description: The draft ad name.
                    example: "My draft ad"
                  title:
                    type: string
                    description:  The draft ad title.
                    example: "My draft title"
                  body:
                    type: string
                    description: The draft ad body.
                    example: "Buy this ad product"
                  visible_uri::
                    type: string
                    description: The draft ad visible link.
                    example: "https://entropy.tech"
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Requested resource doesn't exist.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error
    put:
      tags:
      - draft ads
      summary: Update draft ads in draft strategy
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The Organization Id
        - in: path
          name: draftStrategyId
          required: true
          schema:
            type: string
            example: 5e602dd4cf1ff689ff36d2b8
          description: The Draft Strategy Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                    example: "5e602ac3cf1ff689ff36d2b5"
                    description: The draft ad Id.
                  name:
                    type: string
                    example: "My draft ad"
                  title:
                    type: string
                    example: "My draft title"
                  body:
                    type: string
                    example: "Buy this ad product"
                  visible_uri:
                    type: string
                    example: "https://entropy.tech"
      responses:
        200:
          description: Draft Ad Successfully Updated
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      example: "5e602ac3cf1ff689ff36d2b5"
                      description: The draft ad Id.
                    name:
                      type: string
                      description: The draft ad name.
                      example: "My draft ad"
                    title:
                      type: string
                      description:  The draft ad title.
                      example: "My draft title"
                    body:
                      type: string
                      description: The draft ad body.
                      example: "Buy this ad product"
                    visible_uri:
                      type: string
                      description: The draft ad visible link.
                      example: "https://entropy.tech"
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Requested resource doesn't exist.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error
    delete:
      tags:
      - draft ads
      summary: Delete draft ads in draft strategy
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The Organization Id
        - in: path
          name: draftStrategyId
          required: true
          schema:
            type: string
            example: 5e602dd4cf1ff689ff36d2b8
          description: The Draft Strategy Id
      responses:
        204:
          description: Draft Ad Successfully Deleted
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Requested resource doesn't exist.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error
  /organizations/{organizationId}/strategies:
    post:
      tags:
      - strategy
      summary: "Create new Facebook strategy"
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The Organization Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  example: 5e7bab8b5ecb9ea374bf8a65
      responses:
        201:
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: "12341234"
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Requested resource doesn't exist.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error
    get:
      tags:
      - strategy
      summary: "Retrieve Facebook strategies"
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The Organization Id
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      example: My facebook strategy
                    id:
                      type: string
                      example: "12341234"
                    budget:
                      type: integer
                      example: 600
                    status:
                      type: string
                      example: PAUSED
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Requested resource doesn't exist.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error
  /organizations/{organizationId}/strategies/{strategyId}:
    delete:
      tags:
      - strategy
      summary: "Delete  Facebook strategy"
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The Organization Id
        - in: path
          name: strategyId
          required: true
          schema:
            type: string
            example: 12341234
          description: The strategy Id
      responses:
        204:
          description: No Content
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Requested resource doesn't exist.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error
  /organizations/{organizationId}/strategies/{strategyId}/status-paused:
    put:
      tags:
      - strategy
      summary: "Pause Facebook campaigns set strategy"
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The Organization Id
        - in: path
          name: strategyId
          required: true
          schema:
            type: string
            example: "12341234"
          description: The strategy Id
      responses:
        200:
          description: OK
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Requested resource doesn't exist.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unknown error
  /organizations/{organizationId}/strategies/{strategyId}/status-active:
    put:
      tags:
      - strategy
      summary: "Pause Facebook strategy"
      parameters:
        - in: path
          name: organizationId
          required: true
          schema:
            type: string
            example: 00000000-000a-000a-0000-0000230ee1c1
          description: The Organization Id
        - in: path
          name: strategyId
          required: true
          schema:
            type: string
            example: "12341234"
          description: The strategy Id
      responses:
        200:
          description: OK
        400:
          description: Bad request
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Authentication is required for this operation.
        403:
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: You don't have enough permissions for this operation.
        404:
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Requested resource doesn't exist.
        408:
          description: Request Time Out
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Check your connection or try again later.
        500:
          description: Internal Server error
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
[...]
